*{
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk';
    box-sizing: border-box;
    /* background-color: hsl(0, 0%, 100%); */
}
body{
    /* background-color: hsl(241, 100%, 89%); */
    min-height: 100vh;
    background-color: hsl(221, 100%, 96%);
    font-size: 18px;
}
h2{
    margin-bottom: 20px;
}
button{
    margin-top: 41px;
    width: 12rem;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: hsl(224, 30%, 27%);
    /* font-weight: 500; */
}
button:hover{
    background: hsl(252, 100%, 67%);
}
li{
    display: flex;
    gap: 2em;
    justify-content: space-between;
    margin-bottom: 16px;
    list-style: none;
    border-radius: 11px;
    padding: 10px;
}
.main-section{
    display: flex;
    max-height: 513px;
    padding-bottom: 150px;
}
.container{
    max-width: 735px;
    margin: 100px auto;
    /* padding-bottom: 150px; */
}
.wrapper{
    display: flex;
    background: hsl(0, 0%, 100%);
    border-radius: 32px;
}
.result-main{
    border-radius: 15px;
    background-color: hsl(252, 100%, 67%);
    font-weight: 500;
}
.result{
    padding: 20px;
    font-family: 'Hanken Grotesh';
    margin: auto;
    font-weight: 500;
}
.summary{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px;
    width: 350px;
}
/* .result .title,
.summary .title{
    font-size: 18px;
} */
.feeds{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.numerator{
    color: hsl(224, 30%, 27%);
}
.denominator{
    color: hsla(224, 30%, 27%, 0.5);
}
.icon{
    display: flex;
    gap: 1em;
    align-items: center;
}
.reaction-red{
    background: hsla(0, 87%, 97%, 0.914);
    color: hsl(0, 100%, 67%);
}
.memory-yellow{
    background: hsla(35, 100%, 56%, 0.05);
    color: hsl(39, 100%, 56%);
}
.verbal-green{
    background: hsla(166, 100%, 37%, 0.05);
    color: hsl(166, 100%, 37%);  
}
.visual-blue{
    background: hsla(234, 85%, 45%, 0.02);
    color: hsl(234, 85%, 45%);
}
.text-color{
    color: hsl(0, 0%, 100%);
}